*.swp
m4
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
configure
stamp-h.in
.deps
Makefile
config.h
config.h.in~
config.log
config.status
config.guess
config.sub
depcomp
libtool
install-sh
missing
stamp-h1
.libs
*.o
*.lo
libxmms_tracking.la
libaud_tracking.la
stamp-h
compile
ltmain.sh
libxmms_tracking_la-libxmms_tracking.loT
libaud_tracking_la-libxmms_tracking.loT
