*.swp
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
configure
stamp-h.in
.deps
Makefile
config.h
config.log
config.status
config.guess
config.sub
depcomp
libtool
install-sh
missing
stamp-h1
.libs
libxmms_tracking.la
libxmms_tracking.lo
libaud_tracking.la
stamp-h
ape.lo
fmt.lo
id3genres.lo
id3v1.lo
id3v2.lo
itunes.lo
tags.lo
unicode.lo
vorbis.lo
wma.lo
compile
ltmain.sh
libaud_tracking_la-ape.lo
libaud_tracking_la-fmt.lo
libaud_tracking_la-id3genres.lo
libaud_tracking_la-id3v1.lo
libaud_tracking_la-id3v2.lo
libaud_tracking_la-itunes.lo
libaud_tracking_la-libxmms_tracking.lo
libaud_tracking_la-tags.lo
libaud_tracking_la-unicode.lo
libaud_tracking_la-vorbis.lo
libaud_tracking_la-wma.lo
libxmms_tracking_la-ape.lo
libxmms_tracking_la-fmt.lo
libxmms_tracking_la-id3genres.lo
libxmms_tracking_la-id3v1.lo
libxmms_tracking_la-id3v2.lo
libxmms_tracking_la-itunes.lo
libxmms_tracking_la-libxmms_tracking.lo
libxmms_tracking_la-tags.lo
libxmms_tracking_la-unicode.lo
libxmms_tracking_la-vorbis.lo
libxmms_tracking_la-wma.lo
libxmms_tracking_la-libxmms_tracking.loT
libaud_tracking_la-libxmms_tracking.loT
libaud_tracking_la-formatter.lo
